.upload-container {
  position: relative;
}

.heading {
  color: white !important;
  font-size: 3em !important;
  font-weight: bold !important;
}
.browse-button-container {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

.browse-button {
  margin-top: 0.5em;
}

@media (max-width: 768px) {
  .browse-button-container {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .heading {
    font-size: 2em !important;
  }
  .browse-button {
    width: 50%;
  }
}

.bottom-text {
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}

.bottom-text p {
  font-size: 1.2em;
}
